# Startup Config
API_ID = ""
API_HASH = ""
BOT_TOKEN = ""
AUTH_CHANNEL = ""
SESSION_STRING = ""
DATABASE_URL = ""

# Additional CDN Bots
# MULTI_TOKEN1 = ""
# MULTI_TOKEN2 = "" (upto 50)

# Web Config
BASE_URL = ""
PORT = "8080"

# Login Details
USERNAME = "admin" 
PASSWORD = "admin"

# Playlist Login Details
ADMIN_USERNAME = "surfTG"
ADMIN_PASSWORD = "surfTG"

MULTI_CLIENT = ""       #Leave Empty to set it False
HIDE_CHANNEL = ""       #Leave Empty to set it False
USE_CACHE = "True"      #Leave Empty to set it False

SLEEP_THRESHOLD = "60"  #Reduce FloodWait
WORKERS = "100"
THEME = "quartz"