<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/ico2.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/ico2.png"
        type="image/x-icon">
    <title>Surf-TG: Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/<!-- Theme -->/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/js/SurfTG.js"></script>
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<style>
    a {
        text-decoration: none;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }

    .col {
        transition: all 0.3s;
    }

    .col:hover {
        transform: scale(1.05);
    }
</style>

<body>
    <div class="admin-only modal fade" id="editConfigModal" aria-labelledby="editConfigModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/config" method="post">
                        <label for="edit_channel">Auth Channel:</label>
                        <input type="text" class="form-control" id="edit_channel" name="channel" value=""><br>
                        <label for="edit_theme">Theme:</label>
                        <input type="text" class="form-control" id="edit_theme" name="theme" value="<!-- Theme -->"><br>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-2"
                                onclick="submitEditConfigForm()">Submit</button>
                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-only modal fade" id="createFolderModal" aria-labelledby="createFolderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/create" method="post">
                        <label for="folderName" class="form-label">Folder Name</label>
                        <input type="text" class="form-control" id="folderName" name="folderName"
                            placeholder="Enter folder name">
                        <label for="thumbnail" class="form-label">Thumbnail</label>
                        <input type="text" class="form-control" id="thumbnail" name="thumbnail"
                            placeholder="Thumbnail url"><br>
                        <input type="hidden" id="parent_dir" name="parent_dir" readonly>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="admin-only modal fade" id="editFolderModal" aria-labelledby="editFolderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/edit" method="post">
                        <input type="hidden" id="edit_folder_id" name="folder_id" value="">
                        <input type="hidden" id="edit_parent" name="parent" value="">
                        <label for="edit_folderName">Folder Name:</label>
                        <input type="text" class="form-control" id="edit_folderName" name="folderName" value=""><br>
                        <label for="edit_thumbnail">Thumbnail:</label>
                        <input type="text" class="form-control" id="edit_thumbnail" name="thumbnail" value=""><br>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-2"
                                onclick="submitEditForm()">Submit</button>
                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" onclick="deleteItem()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-primary mb-3 p-1" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/logo%20(2).png" alt="Logo"
                    height="40">
            </a>
            <div class="d-flex">
                <button type="button" class="admin-only btn btn-primary me-1 btn-sm" data-bs-toggle="modal"
                    data-bs-target="#editConfigModal"><i
                        class="bi bi-pencil"></i></button>
                <form action="/reload" method="get" role="reload" class="admin-only ">
                    <button type="submit" class="btn btn-primary me-1 btn-sm" name="chatId" value="home">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </form>
                <form id="signoutForm" action="/logout" method="post" class="d-flex" role="logout">
                    <button type="submit" class="btn btn-secondary btn-sm"><i class="bi bi-box-arrow-left"></i>
                        Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card mx-auto text-center">
            <div class="card-header">Available Sources</div>
        </div>
        <button type="button" class="admin-only btn btn-secondary btn-sm" data-bs-toggle="modal"
            data-bs-target="#createFolderModal" onclick="createPopupForm(event)">Create Folder</button>
    </div>
    <div class="container py-2">
        <!-- Channel grid  -->
        <div class="hide-channel row row-cols-2 row-cols-md-4 row-cols-lg-6 g-2">
            <!-- Channel card  -->
            <!-- Print -->
        </div>
        <!-- Folder grid  -->
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-2">
            <!-- Folder card  -->
            <!-- Playlist -->
        </div>
    </div>
    <footer class="footer mt-auto py-3 text-muted text-center" style="color: white;">
        <div class="container d-flex justify-content-center align-items-center" style="width: 100%; padding: 0 10px;">
            <p class="float-end">
            <p>Made with <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg> by <a href="https://github.com/weebzone" target="_blank">Karan Adhikari</a><br>
                &copy; 2024 <a href="https://github.com/weebzone/Surf-TG" target="_blank">Surf-TG</a>. All Rights
                Reserved.
            </p>
        </div>
    </footer>
</body>
<script>
    function setDefaultChannelValue() {
        const channelCards = document.querySelectorAll('.channel-card');

        const cids = Array.from(channelCards).map(card => {
            const link = card.querySelector('a');
            console.log(link)
            if (link) {
                const cid = link.getAttribute('href').split('/').pop();
                return `-100${cid}`;
            }
            return null;
        }).filter(cid => cid !== null);

        const channelInput = document.getElementById('edit_channel');
        channelInput.value = cids.join(', ');
    }

    document.addEventListener('DOMContentLoaded', function () {
        const editConfigModal = document.getElementById('editConfigModal');
        editConfigModal.addEventListener('show.bs.modal', function () {
            setDefaultChannelValue();
        });
    });

</script>
</html>