<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/ico2.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/ico2.png"
        type="image/x-icon">
    <title>Surf-TG: Chat- <!-- Title --></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/5/<!-- Theme -->/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/js/SurfTG.js"></script>
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>
</head>
<style>
    a {
        text-decoration: none;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }

    .col {
        transition: all 0.3s;
    }

    .col:hover {
        transform: scale(1.05);
    }
</style>

<body>

    <div class="admin-only modal fade" id="sendFileModal" aria-labelledby="sendFileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/send" method="post" id="sendPopupForm">
                        <input type="hidden" id="chatId" name="chatId" value="<!-- Chat_id -->">
                        <input type="hidden" id="selectedIds" name="selectedIds">
                        <label for="folderSearch">Search Folder:</label>
                        <input type="text" class="form-control" id="folderSearch" name="folderSearch"><br>
                        <select class="form-select" id="folderDropdown"></select><br>
                        <input type="hidden" id="folderId" name="folderId">

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="submitSendForm()" id="sendButton"
                                disabled>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-primary mb-3 p-1" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://cdn.jsdelivr.net/gh/weebzone/weebzone/data/Surf-TG/src/logo%20(2).png" alt="Logo"
                    height="40">
            </a>
            <div class="d-flex">
                <form action="/reload" method="get" role="reload" class="admin-only ">
                    <button type="submit" class="btn btn-primary me-2" name="chatId" value="<!-- Chat_id -->">
                        <i class="bi bi-arrow-clockwise" ></i>
                    </button>
                </form>
                <form id="signoutForm" action="/logout" method="post" class="d-flex" role="logout">
                    <button type="submit" class="btn btn-secondary btn-sm"><i class="bi bi-box-arrow-left"></i>
                        Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card mx-auto text-center">
            <div class="card-header"><!-- Title --></div>
        </div>
        <button type="button" class="admin-only btn btn-secondary btn-sm" data-bs-toggle="modal"
            data-bs-target="#sendFileModal" onclick="sendPopupForm()">Send</button>
    </div>
    <div class="container">
        <form class="d-flex" style="margin: auto; padding-top: 10px; padding-bottom: 20px;"
            action="/search/<!-- Chat_id -->" method="get">
            <input class="form-control me-sm-2" type="search" placeholder="Search" name="q">
            <button class="btn btn-secondary my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="container py-2">
        <!-- Telegram File Grid Card  -->
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 g-2">
            <!-- Telegram File Card  -->
            <!-- Print -->
        </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center">
        <div>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" id="prevButton" href="#">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" id="nextButton" href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <footer class="footer mt-auto py-3 text-muted text-center" style="color: white;">
        <div class="container d-flex justify-content-center align-items-center" style="width: 100%; padding: 0 10px;">
            <p class="float-end">
            <p>Made with <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg> by <a href="https://github.com/weebzone" target="_blank">Karan Adhikari</a><br>
                &copy; 2024 <a href="https://github.com/weebzone/Surf-TG" target="_blank">Surf-TG</a>. All Rights
                Reserved.
        </div>
    </footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const prevButton = document.getElementById("prevButton");
        const nextButton = document.getElementById("nextButton");

        const url = new URL(window.location.href);
        const chatId = url.pathname.match(/\/channel\/(-?\d+)/) ? url.pathname.match(/\/channel\/(-?\d+)/)[1] : null;
        const currentPage = url.searchParams.get("page") ? parseInt(url.searchParams.get("page")) : 1;

        prevButton.addEventListener("click", function () {
            if (currentPage > 1) {
                navigateChannel(url.origin + url.pathname, currentPage - 1);
            } else {
                prevButton.classList.add("disabled");
            }
        });

        nextButton.addEventListener("click", function () {
            navigateChannel(url.origin + url.pathname, currentPage + 1);
        });
    });

    function navigateChannel(url, page) {
        const match = url.match(/\/(channel|search)\/(-?\d+)/);
        const chatId = match ? match[2] : null;

        if (!chatId) {
            alert("Invalid channel URL. Please provide a URL like http://127.0.0.1:8000/channel/-1001767698380");
            return;
        }

        const searchParams = new URLSearchParams(window.location.search);
        const searchQuery = searchParams.get('q');
        page = parseInt(page) || 1;

        let newUrl = url;
        if (searchQuery || page > 1) {
            newUrl += searchQuery ? `?q=${searchQuery}` : '';
            newUrl += page > 1 ? `${searchQuery ? '&' : '?'}page=${page}` : '';
        }

        window.location.href = newUrl;
    }
</script>

</html>